# Copy to local.env (same folder). Not committed: local.env is gitignored.

HTTP_PORT=8080

USER_SERVICE_HOST=localhost
USER_SERVICE_PORT=50051

INVENTORY_SERVICE_HOST=localhost
INVENTORY_SERVICE_PORT=50052

ORDER_SERVICE_HOST=localhost
ORDER_SERVICE_PORT=50053
