# Copy to local.env (same folder). Not committed: local.env is gitignored.

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=flower_shop
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SSL_MODE=disable

GRPC_PORT=50053
HTTP_PORT=8083

BROKERS=localhost:9092

INVENTORY_SERVICE_HOST=localhost
INVENTORY_SERVICE_PORT=50052
